@using tl2_tp10_2023_TcassasT.Models
@using tl2_tp10_2023_TcassasT.ViewModels
@model GetTareasByTableroIdViewModel

<div style="display: flex; justify-content: space-between; align-items: center;">
  <h1>Lista de tareas</h1>
  <button type="button" class="btn btn-primary">
    <a asp-controller="Tablero" asp-action="CrearTarea" asp-route-idTablero=@Model.TableroId style="text-decoration: none; color: white;">Crear tarea</a>
  </button>
</div>
<div class="container">
  <div class="row justify-content-md-start">
    @foreach (var estado in Enum.GetValues(typeof(EstadoTarea)).Cast<EstadoTarea>()) {
      <div class="col">
        <h3>@estado</h3>
        @foreach (var tarea in Model.TareasPorEstado[estado]) {
          <p>@tarea.Nombre</p>
        }
      </div>
    }
  </div>
</div>
