@using tl2_tp10_2023_TcassasT.Models
@model List<Tablero>

<h1>Lista de tableros</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre de tablero</th>
      <th scope="col">Descripcion</th>
      <th scope="col" colspan="2">Acciones</th>
    </tr>
  </thead>
  <tbody>
    @foreach(Tablero tablero in Model) {
      <tr>
        <th scope="row">@tablero.Id</th>
        <td>@tablero.Nombre</td>
        <td>@tablero.Descripcion</td>
        <td>
          <a asp-action="ModificarTablero" asp-route-id=@tablero.Id>Editar</a>
        </td>
        <td>
          <a asp-controller="Tablero" asp-action="EliminarTablero" asp-route-idProducto="@tablero.Id" asp-route-id=@tablero.Id>Eliminar</a>
        </td>
      </tr>
    }
  </tbody>
</table>