@using tl2_tp10_2023_TcassasT.Models
@model Tablero

<form asp-controller="Tablero" asp-action="ModificarTablero" asp-route-id=@Model.Id method="post">
  <div class="mb-3">
    <label class="form-label">Nombre</label>
    <input type="text" class="form-control" asp-for="Nombre" value=@Model.Nombre>
  </div>
  <div class="mb-3">
    <label class="form-label">Descripcion</label>
    <textarea class="form-control" asp-for="Descripcion">@Model.Descripcion</textarea>
  </div>
  
  <input type="number" class="form-control" asp-for="IdUsuarioPropietario" value=@Model.IdUsuarioPropietario hidden>

  <button type="submit" class="btn btn-primary">Modificar</button>
</form>