@using tl2_tp10_2023_TcassasT.Models
@model HomeIndexViewModel

@{
  ViewData["Title"] = "Home Page";
}

<div class="container">
  <h1 class="display-4 text-center">Bienvenido {TOMÁS}</h1>
  <div class="row">
    <div class="col">
      <div class="display-6">
        Tus tableros
      </div>
      @foreach (Tablero tablero in @Model.tableros)
      {
        <p>@tablero.Nombre</p>
      }
    </div>
    <div class="col">
      <div class="display-6">
        Ultima actividad
      </div>
    </div>
  </div>
</div>
