@using tl2_tp10_2023_TcassasT.Models
@model Usuario

<form asp-controller="Usuario" asp-action="CrearUsuario" method="post">
  <div class="mb-3">
    <label class="form-label">Nombre de usuario</label>
    <input type="text" class="form-control" asp-for="NombreDeUsario">
  </div>
  <div class="mb-3">
    <label class="form-label">Rol</label>
    <select class="form-select" asp-for="Rol">
      <option selected>Selecione un rol</option>
      <option value="0">Administrador</option>
      <option value="1">Operador</option>
    </select>
  </div>
  <div class="mb-3">
    <label class="form-label">Contraseña</label>
    <input type="password" class="form-control" asp-for="Contrasenia">
  </div>
  <button type="submit" class="btn btn-primary">Crear</button>
</form>