@using tl2_tp10_2023_TcassasT.Models
@model List<Usuario>

<h1>Lista de usuarios</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre de usuario</th>
      <th scope="col" colspan="2">Acciones</th>
    </tr>
  </thead>
  <tbody>
    @foreach(Usuario usuario in Model) {
      <tr>
        <th scope="row">@usuario.Id</th>
        <td>@usuario.NombreDeUsario</td>
        <td>
          <a asp-action="ModificarUsuario" asp-route-id=@usuario.Id>Editar</a>
        </td>
        <td>
            <a asp-controller="Usuario" asp-action="EliminarUsuario" asp-route-id=@usuario.Id>Eliminar</a>
        </td>
      </tr>
    }
  </tbody>
</table>