@{
  ViewData["Title"] = "Iniciar sesión";
}

@using tl2_tp10_2023_TcassasT.Models
@model Usuario

<form asp-controller="Usuario" asp-action="Login" method="post">
  <h2 class="mb-3">Iniciar sesión</h2>
  <div class="mb-3">
    <label class="form-label">Nombre de usuario</label>
    <input type="text" class="form-control" asp-for="NombreDeUsario">
  </div>
  <div class="mb-3">
    <label class="form-label">Contraseña</label>
    <input type="password" class="form-control" asp-for="Contrasenia">
  </div>
  <button type="submit" class="btn btn-primary">Iniciar sesión</button>
  <div class="text-center">
    <hr class="bg-danger border-2 border-top border-dark" />
    <p>¿Aún no tienes una cuenta registrada?, <a asp-controller="Usuario" asp-action="CrearUsuario">registrate aquí</a></p>
  </div>
</form>
