@{
  ViewData["Title"] = "Modificar usuario: " + @Model.NombreDeUsario;
}

@using tl2_tp10_2023_TcassasT.Models
@model Usuario

<form asp-controller="Usuario" asp-action="ModificarUsuario" asp-route-id=@Model.Id method="post">
  <h2 class="mb-3">Modificar usuario: @Model.NombreDeUsario</h2>
  <div class="mb-3">
    <label class="form-label">Nombre de usuario</label>
    <input type="text" class="form-control" asp-for="NombreDeUsario" value=@Model.NombreDeUsario>
  </div>
  <div class="mb-3">
    <label class="form-label">Rol</label>
    <select class="form-select" asp-for="Rol">
      <option>Selecione un rol</option>
      <option selected=@(Model.Rol == RolUsuario.ADMINISTRADOR) value="0">Administrador</option>
      <option selected=@(Model.Rol == RolUsuario.OPERADOR) value="1">Operador</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Crear</button>
</form>